{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Le patrimoine civil{% endblock %}

{% block body %}
{# Bloc titre Page Le patrimoine civil #}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page-patrimoine-civil">Découvrir Rouvroy</h2>
        <h3 class="sous-titre-page">Le patrimoine local / Le patrimoine civil</h3>
    </div> 
</section> 
{# Fin Bloc titre Page Le patrimoine civil #}

{# Bloc section articles Page Le patrimoine civil #}
<section class="patrimoine-civil">
    <h2>Le patrimoine civil</h2> 

    
    {% for PatrimoineCivil in PatrimoineCivil | sort((a, b) => a.id <=> b.id) %}
    <div class="article-patrimoine-civil">
        <div class="image-patrimoine-civil">
            <img src="uploads/articles/{{PatrimoineCivil.image}}" alt="{{ PatrimoineCivil.titre }}" class="img-civil">
        </div>
        <div class="texte-patrimoine-civil">
            <h3>{{ PatrimoineCivil.titre }}</h3>
            <p>{{ PatrimoineCivil.contenu | raw }}</p>
        </div>
    </div>
    {% endfor %}
    
</section> 
{# Fin Bloc section articles Page Le patrimoine civil #}

{# Bloc lien retour vers la Page Patrimoine Local #}
<div class="retour-civil-vers-local">
    <a href="/patrimoine-local"><i class="fa-sharp fa-solid fa-arrow-left"></i>Patrimoine Local</a>
</div>
{# Bloc lien retour vers la Page Patrimoine Local #}
{% endblock %}
