{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Les monuments{% endblock %}

{% block body %}
{# Bloc titre Page Les monuments #}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page">Découvrir Rouvroy</h2>
        <h3 class="sous-titre-page">Le patrimoine local / Les monuments</h3>
    </div> 
</section>
{# Fin Bloc titre Page Les monuments #}  

{# Bloc section articles Page Les monuments #}
<section class="patrimoine-religieux">
    <h2>Les monuments</h2> 

    
    {% for PatrimoineMonuments in PatrimoineMonuments | sort((a, b) => a.id <=> b.id)%}
    <div class="article-patrimoine-monuments">
        <div class="image-patrimoine-monuments">
            <img src="uploads/articles/{{PatrimoineMonuments.image}}" alt="{{ PatrimoineMonuments.titre }}" class="img-monuments">
        </div>
        <div class="texte-patrimoine-monuments">
            <h3>{{ PatrimoineMonuments.titre }}</h3>
            <p>{{ PatrimoineMonuments.contenu | raw }}</p>
        </div>
    </div>
    {% endfor %}
    
</section> 
{# Fin Bloc section articles Page Les monuments #}

{# Bloc lien retour vers la Page Patrimoine Local #}
<div class="retour-monuments-vers-local">
    <a href="/patrimoine-local"><i class="fa-sharp fa-solid fa-arrow-left"></i>Patrimoine Local</a>
</div>
{# Bloc lien retour vers la Page Patrimoine Local #}
{% endblock %}
