/* Formulaire S'enregistrer (Register) */
.titre-page-register {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

/* .formulaire-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
} */

label.required {
  font-family: "Poppins", sans-serif;
}

.formulaire-register > form > div {
  margin-bottom: 1rem;
}

.btn-register {
  background-color: #e1261c;
  opacity: 0.75;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
}

.btn-register:hover {
  background-color: #e1261c;
  opacity: 0.75;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Page accueil */
/* Section Accueil */
.section-accueil {
  background-color: #e1261c;
  opacity: 0.75;
  height: 100px;
  margin-top: 80px;
}

.section-accueil > .titre-page-accueil {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

/* Slide Accueil */
.slide {
  /* max-width: 800px; */
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.carousel-item img {
  /* max-width: 50rem; */
  max-width: 800px;
  max-height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: lightgray;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  height: 50px;
  width: 50px;
}

/* Section Présentation association */
.association {
  margin-top: 3rem;
}

.association h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.tabulation {
  margin-left: 1.5rem;
}

.paragraphe-1-association {
  margin-top: 0.6rem;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.paragraphe-2-association {
  margin-top: 0.6rem;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.presentation-association {
  font-style: italic;
}

.paragraphe-1-association,
.paragraphe-2-association {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  line-height: 2rem;
  text-align: justify;
}

.premiere-ligne-p-association {
  text-align: center;
}

/* Section Status association */
.status {
  margin-top: 3rem;
  background-color: #1e874a;
  opacity: 0.76;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status p {
  text-align: justify;
}

.status h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.status p {
  color: white;
  font-weight: bold;
  margin-top: 0.6rem;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  line-height: 2rem;
}

/* .btn-status {
  text-decoration: none;
  background-color: #e1261c;
  border: #e1261c;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 0.5rem;
  display: block;
  text-align: center;
  width: 20%;
  margin: 0 auto;
  margin-top: 1.5rem;
} */

.lien-telechargement-status {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e874a;
  color: white;
  padding-top: 1rem;
}

.btn-changement-couleur {
  background-color: #e1261c;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

.btn-changement-couleur .span-changement-couleur {
  position: relative;
  z-index: 1;
}

.btn-changement-couleur::before {
  content: "";
  position: absolute;
  background-color: rgba(224, 108, 102, 0.88); /* Couleur => #E06C66 */
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.btn-changement-couleur:hover::before {
  width: 300px;
  height: 300px;
}

/* Section Événements */
.evenement {
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.evenement h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.evenement iframe {
  display: block;
  text-align: center;
  margin: 0 auto;
}

/* Medias queries page Accueil */
@media screen and (max-width: 768px) {
  .section-accueil > .titre-page-accueil {
    font-size: 20px;
  }

  .logo-footer {
    height: 80px;
  }

  .donnees h6 {
    font-size: 12px;
  }

  .donnees p {
    font-size: 12px;
  }

  .navbar-nav-footer > .nav-item-footer > .nav-link-footer {
    font-size: 12px;
  }

  .mentions {
    margin-left: 16rem;
  }

  .mentions a {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .section-accueil > .titre-page-accueil {
    font-size: 11px;
    padding-top: 2.5rem;
  }

  .association h2 {
    font-size: 20px;
  }

  .paragraphe-1-association {
    font-size: 14px;
  }

  .paragraphe-2-association {
    font-size: 14px;
  }

  .status h2 {
    font-size: 20px;
  }

  .status p {
    font-size: 14px;
  }

  .lien-status {
    font-size: 12px;
    width: 25%;
  }

  .evenement h2 {
    font-size: 20px;
  }

  .donnees {
    flex-direction: column;
    height: 36rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
  }

  .logo-footer {
    height: 80px;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
  }

  .donnees h6 {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }

  .donnees p {
    font-size: 12px;
  }

  .coordonnees {
    margin-left: 4rem;
  }

  .menuFooter {
    margin-top: 2rem;
    margin-right: 3.5rem;
  }

  .reseaux-sociaux {
    margin-top: 2rem;
    margin-right: 5rem;
  }

  .mentions {
    justify-content: start;
    margin-left: 9rem;
    margin-top: 2rem;
  }

  .copyright {
    font-size: 10px;
  }
}

/* Page Découvrir Rouvroy -> Son Histoire */

.section-titre-page > .titre-page-histoire {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sous-titre-page {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.histoire h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article-histoire-rouvroy {
  background-color: #f5f5f5;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.histoire h3 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-top: 2rem;
  text-decoration-line: underline;
}

.img-histoire-rouvroy,
.img2-histoire-rouvroy {
  height: 150px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.part-1,
.part-2 {
  display: flex;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.texte-histoire-rouvroy,
.texte2-histoire-rouvroy {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
}

@media screen and (max-width: 576px) {
  .section-titre-page > .titre-page-histoire {
    font-size: 24px;
  }

  .histoire h3 {
    font-size: 16px;
  }

  .img-histoire-rouvroy,
  .img2-histoire-rouvroy {
    height: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .texte-histoire-rouvroy,
  .texte2-histoire-rouvroy {
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .histoire h2 {
    font-size: 22px;
  }

  .article-histoire-rouvroy {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .part-1,
  .part-2 {
    padding-top: 1rem;
  }
}

/* Page Le patrimoine local */
/* Présentation page patrimoine local */
.section-titre-page {
  background-color: #e1261c;
  opacity: 0.75;
  height: 100px;
  margin-top: 80px;
}

.section-titre-page > .titre-page-patrimoine-local {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.presentation-patrimoine-local {
  margin-bottom: 3rem;
  /* height: 20rem; */
  /* border: solid 1px black; */
}

.presentation-patrimoine-local p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 4rem;
  text-align: justify;
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 1.5;
}

/* Section image + texte page Patrimoine local */
.liens-patrimoine-local {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.card-patrimoine-local {
  display: flex;
  margin-bottom: 3rem;
}

.card-patrimoine-local img {
  width: 288px;
  height: 384px;
}

.card-body-patrimoine-civil {
  background-color: #1e874a;
  opacity: 0.75;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 288px;
  height: 384px;
  margin-right: 2rem;
}

.card-body-patrimoine-civil h3 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.card-title-patrimoine-local {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration-line: none;
  background-color: #e1261c;
  padding: 0.5rem;
}

.card-body-patrimoine-civil > .card-title-patrimoine-local {
  margin-left: 1rem;
}

.card-body-patrimoine-religieux {
  background-color: #1e874a;
  opacity: 0.75;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 288px;
  height: 384px;
  margin-left: 2rem;
}

.card-body-patrimoine-religieux h3 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.card-body-patrimoine-monuments {
  background-color: #1e874a;
  opacity: 0.75;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 288px;
  height: 384px;
  margin-right: 2rem;
}

.card-body-patrimoine-monuments h3 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.card-body-patrimoine-monuments > .card-title-patrimoine-local {
  margin-left: 1.7rem;
}

.card-body-patrimoine-disparus {
  background-color: #1e874a;
  opacity: 0.75;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 288px;
  height: 384px;
  margin-left: 2rem;
}

.card-body-patrimoine-disparus h3 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.reveal {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateX(0);
  opacity: 1;
}

.reveal-2 {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal-2.active {
  transform: translateX(0);
  opacity: 1;
}

/* Medias queries page Le patrimoine local */
@media screen and (max-width: 768px) {
  .presentation-patrimoine-local p {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .card-patrimoine-local {
    flex-direction: column;
  }

  .card-body-patrimoine-civil {
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .card-body-patrimoine-religieux {
    margin-top: 2rem;
    margin-left: 0;
  }

  .card-body-patrimoine-monuments {
    margin-bottom: 2rem;
    margin-right: 0;
  }

  .card-body-patrimoine-disparus {
    margin-top: 2rem;
    margin-left: 0;
  }
}

/* Page Découvrir Rouvroy -> Le patrimoine local -> Le patrimoine civil */

.section-titre-page > .titre-page-patrimoine-civil {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sous-titre-page {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.article-patrimoine-civil {
  display: flex;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  background-color: #f5f5f5;
  padding: 1rem;
}

.patrimoine-civil h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img-civil {
  width: 200px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.texte-patrimoine-civil h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.texte-patrimoine-civil div {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-right: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.retour-civil-vers-local {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}

.retour-civil-vers-local a {
  text-decoration: none;
  color: #e1261c;
  opacity: 0.75;
}

.retour-civil-vers-local i {
  margin-right: 0.5rem;
}

@media screen and (max-width: 576px) {
  .section-titre-page > .titre-page-patrimoine-civil {
    font-size: 24px;
  }

  h3.sous-titre-page {
    font-size: 16px;
  }

  .article-patrimoine-civil {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .texte-patrimoine-civil h3 {
    font-size: 16px;
  }

  .texte-patrimoine-civil div {
    font-size: 12px;
  }

  .img-civil {
    width: 150px;
  }
}

/* Page Découvrir Rouvroy -> Le patrimoine local -> Le patrimoine religieux */

.section-titre-page > .titre-page-patrimoine-religieux {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sous-titre-page {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.article-patrimoine-religieux {
  display: flex;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  background-color: #f5f5f5;
  padding: 1rem;
}

.patrimoine-religieux h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img-religieux {
  width: 200px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.texte-patrimoine-religieux h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.texte-patrimoine-religieux div {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-right: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.retour-religieux-vers-local {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}

.retour-religieux-vers-local a {
  text-decoration: none;
  color: #e1261c;
  opacity: 0.75;
}

.retour-religieux-vers-local i {
  margin-right: 0.5rem;
}

@media screen and (max-width: 576px) {
  .section-titre-page > .titre-page-patrimoine-religieux {
    font-size: 24px;
  }

  .article-patrimoine-religieux {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .texte-patrimoine-religieux h3 {
    font-size: 16px;
  }

  .texte-patrimoine-religieux div {
    font-size: 12px;
  }

  .img-religieux {
    width: 150px;
  }
}

/* Page Découvrir Rouvroy -> Le patrimoine local -> Les monuments */

.section-titre-page > .titre-page-monuments {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sous-titre-page {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.article-patrimoine-monuments {
  display: flex;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  background-color: #f5f5f5;
  padding: 1rem;
}

.patrimoine-monuments h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img-monuments {
  width: 200px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.texte-patrimoine-monuments h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.texte-patrimoine-monuments div {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-right: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.retour-monuments-vers-local {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}

.retour-monuments-vers-local a {
  text-decoration: none;
  color: #e1261c;
  opacity: 0.75;
}

.retour-monuments-vers-local i {
  margin-right: 0.5rem;
}

@media screen and (max-width: 576px) {
  .section-titre-page > .titre-page-patrimoine-monuments {
    font-size: 24px;
  }

  .article-patrimoine-monuments {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .texte-patrimoine-monuments h3 {
    font-size: 16px;
  }

  .texte-patrimoine-monuments div {
    font-size: 12px;
  }

  .img-monuments {
    width: 150px;
  }
}

/* Page Découvrir Rouvroy -> Le patrimoine local -> Le patrimoine disparus */

.section-titre-page > .titre-page-patrimoine-disparus {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sous-titre-page {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.article-patrimoine-disparus {
  display: flex;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  background-color: #f5f5f5;
  padding: 1rem;
}

.patrimoine-disparus h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.img-disparus {
  width: 200px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.texte-patrimoine-disparus h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.texte-patrimoine-disparus div {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-right: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.retour-disparus-vers-local {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}

.retour-disparus-vers-local a {
  text-decoration: none;
  color: #e1261c;
  opacity: 0.75;
}

.retour-disparus-vers-local i {
  margin-right: 0.5rem;
}

@media screen and (max-width: 576px) {
  .section-titre-page > .titre-page-patrimoine-disparus {
    font-size: 24px;
  }

  .article-patrimoine-disparus {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .texte-patrimoine-disparus h3 {
    font-size: 16px;
  }

  .texte-patrimoine-disparus div {
    font-size: 12px;
  }

  .img-disparus {
    width: 150px;
  }
}

/* Page Découvrir Rouvroy -> Les personnages */

.section-titre-page > .titre-page-personnages {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sous-titre-page {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.personnages h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.personnages p {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: justify;
}

.div-personnages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-personnages {
  /* border: solid 1px black; */
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.card-img-top-personnages {
  height: 200px;
  /* width: 200px; */
  border-radius: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-body-personnages {
  /* border-top: solid 1px black; */
  width: 100%;
}

.card-title-personnages {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-subtitle-personnages {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-body-personnages div {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Medias queries page Personnages */
@media screen and (max-width: 768px) {
  .card-personnages {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .section-titre-page > .titre-page-personnages {
    font-size: 24px;
  }

  .personnages h2 {
    font-size: 24px;
  }

  .personnages p {
    font-size: 16px;
  }

  .card-personnages {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* Page Projets -> Monographie de Rouvroy */

.section-titre-page > .titre-page-monographie {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sous-titre-page {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.monographie h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article-monographie {
  background-color: #f5f5f5;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.monographie h3 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-top: 2rem;
  text-decoration-line: underline;
}

.img-monographie,
.img2-monographie {
  height: 150px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.part-1,
.part-2 {
  display: flex;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.texte-monographie,
.texte2-monographie {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
}

@media screen and (max-width: 576px) {
  .section-titre-page > .titre-page-monographie {
    font-size: 24px;
  }

  .article-monographie {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .monographie h2 {
    font-size: 24px;
  }

  .monographie h3 {
    font-size: 16px;
  }

  .img-monographie,
  .img2-monographie {
    height: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .texte-monographie,
  .texte2-monographie {
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Page Projets -> Célestine, géante de Rouvroy */

.section-titre-page > .titre-page-celestine {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.sous-titre-page {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.celestine h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.article-celestine {
  background-color: #f5f5f5;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.celestine h3 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-top: 2rem;
  text-decoration-line: underline;
}

.img-celestine,
.img2-celestine {
  height: 150px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.part-1,
.part-2 {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.texte-celestine,
.texte2-celestine {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
}

@media screen and (max-width: 576px) {
  .section-titre-page > .titre-page-celestine {
    font-size: 24px;
  }

  .article-celestine {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .celestine h2 {
    font-size: 24px;
  }

  .celestine h3 {
    font-size: 16px;
  }

  .img-celestine,
  .img2-celestine {
    height: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .texte-celestine,
  .texte2-celestine {
    font-size: 12px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Page Archives */

.section-titre-page > .titre-page-archives {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

h2.titre-page.titre-archives {
  padding-top: 2rem;
}

.archives h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.div-archives {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-archives {
  /* border: solid 1px black; */
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.card-img-top-archives {
  height: 200px;
  /* width: 200px; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-body-archives {
  /* border-top: solid 1px black; */
  width: 100%;
}

.card-title-archives {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-subtitle-archives {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-body-archives div {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Medias queries page Archives */
@media screen and (max-width: 768px) {
  .card-archives {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .section-titre-page > .titre-page-archives {
    font-size: 24px;
  }

  .card-archives {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .card-img-top-archives {
    height: 150px;
  }

  .archives h2 {
    font-size: 24px;
  }

  .card-archives {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}

/* Page Galeries */

.section-titre-page > .titre-page-galeries {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.galeries h2 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.div-galeries {
  margin-bottom: 4rem;
}

.paragraphe-presentation-galeries {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.timeline time {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.timeline h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.timeline div {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: justify;
}

.timeline > div.reveal {
  margin-left: 2rem;
}

img.img-galeries {
  width: 200px;
  height: 100px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div#animated-thumbnials a {
  color: white;
}

.timeline *,
.timeline *::before,
.timeline *::after {
  font-family: "Open Sans", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  /* margin: 0 auto; */
  margin-left: 5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  background: black;
  border-left: 3px double black;
  z-index: 0;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-55%);
  -webkit-transform: translateX(-55%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  /* width: 400px; */
  /* margin-left: 2rem; */
  width: 1000px;
  padding: 15px;
  background: white;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 0;
  height: 0;
  /* border-style: solid; */
}

/* .timeline ul li:nth-child(odd) div {
  left: 15px;
  animation: translateRight 2s ease-in;
} */

/* .timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 16px 16px 16px 0;
  border-color: transparent #ffffff transparent transparent;
} */

.timeline ul li:nth-child(even) div {
  left: -439px;
  animation: translateLeft 2s ease-in;
}

/* .timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 16px 0 16px 16px;
  border-color: transparent transparent transparent #ffffff;
} */

/* .timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 20px;
  left: -100px;
  width: 90px;
} */
.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 20px;
  right: -120px;
  width: 90px;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  font-weight: bold;
}

.timeline > ul > li > div h3 {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reveal {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateX(0);
  opacity: 1;
}

.reveal-2 {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal-2.active {
  transform: translateX(0);
  opacity: 1;
}

/* Media queries Timeline Page Galeries */
@media screen and (max-width: 768px) {
  .timeline ul li div {
    width: 300px;
  }

  .timeline ul li:nth-child(even) div {
    left: -350px;
  }
}

@media screen and (max-width: 576px) {
  .timeline ul li div {
    width: 170px;
  }

  .timeline ul li:nth-child(even) div {
    left: -220px;
  }
}

/* Keyframes Page Galeries */
@keyframes translateLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes translateRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media queries Page Galeries */

@media screen and (max-width: 768px) {
  .timeline ul li div {
    width: 600px;
  }

  .timeline ul li {
    margin-left: 2rem;
  }

  #animated-thumbnials a {
    display: inline-block;
  }

  img.img-galeries {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .timeline h3 {
    font-size: 18px;
  }

  .timeline div {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .timeline ul li::after {
    width: 20px;
    height: 20px;
  }

  .timeline ul li {
    margin-left: 3rem;
  }

  .timeline ul li div {
    width: 400px;
  }

  div.reveal {
    margin-left: 1rem;
  }

  .timeline time {
    font-size: 16px;
  }

  .timeline h3 {
    font-size: 16px;
  }

  .timeline div {
    font-size: 12px;
  }

  img.img-galeries {
    /* margin-left: 5rem; */
    width: 100px;
    height: 50px;
  }
}

/* Page Contacts */

.section-titre-page > .titre-page-contacts {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.coordonnes-contacts {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.logo-contacts {
  height: 150px;
}

.adresse {
  margin-right: 2rem;
  animation: translateLeft 2s ease-in;
}

.adresse h6 {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
}

.adresse p {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.iframe-contacts {
  margin-left: 2rem;
  animation: translateRight 2s ease-in;
}

@keyframes translateLeft {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes translateRight {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

.formulaire-de-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.formulaire-de-contact h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.formulaire-de-contact form {
  width: 50%;
}

/* #contact_form div {
  display: flex;
  flex-direction: column;
} */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div > label {
  margin-left: 0 !important;
  margin-bottom: 0.5rem !important;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  display: flex;
}

.formulaire-de-contact > form > div > label {
  margin-top: 1rem;
}

#contact_form_Nom,
#contact_form_Email,
#contact_form_Sujet {
  height: 2rem;
  width: 500px;
}

#contact_form_Message {
  height: 10rem;
  resize: none;
  width: 500px;
}

button#contact_form_Envoyer {
  margin-top: 2rem;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #e1261c;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
}

/* Medias queries page Contacts */
@media screen and (max-width: 768px) {
  .logo-contacts {
    height: 100px;
  }

  .adresse {
    margin-right: 1rem;
  }

  .adresse h6 {
    font-size: 16px;
  }

  .adresse p {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }

  .iframe-contacts iframe {
    width: 350px;
    height: 350px;
  }

  .iframe-contacts {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .coordonnes-contacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo-contacts {
    height: 160px;
  }

  .adresse {
    margin-right: 0;
  }

  .adresse h6 {
    font-size: 16px;
  }

  .adresse p {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }

  .iframe-contacts iframe {
    width: 420px;
    height: 220px;
  }

  .iframe-contacts {
    /* margin-right: 1rem; */
    margin-top: 2rem;
    margin-left: 0;
  }

  #contact_form_Nom,
  #contact_form_Email,
  #contact_form_Sujet {
    width: 400px;
  }

  #contact_form_Message {
    height: 10rem;
    width: 400px;
  }

  button#contact_form_Envoyer {
    width: 150px;
  }
}
