{% extends 'base.html.twig' %}

{% block title %}Hello PatrimoineReligieuxController!{% endblock %}

{% block body %}
{# Bloc titre Page Le patrimoine religieux #}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page">Découvrir Rouvroy</h2>
        <h3 class="sous-titre-page">Le patrimoine local / Le patrimoine religieux</h3>
    </div> 
</section>  

<section class="patrimoine-religieux">
    <h2>Le patrimoine religieux</h2> 

    
    {% for PatrimoineReligieux in PatrimoineReligieux %}
    <div class="article-patrimoine-religieux">
        <div class="image-patrimoine-religieux">
            <img src="uploads/articles/{{PatrimoineReligieux.image}}" alt="" class="img-religieux">
        </div>
        <div class="texte-patrimoine-religieux">
            <h3>{{ PatrimoineReligieux.titre }}</h3>
            <p>{{ PatrimoineReligieux.contenu | raw }}</p>
        </div>
    </div>
    {% endfor %}
    
</section> 
{% endblock %}

