{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Le patrimoine religieux{% endblock %}

{% block body %}
{# Bloc titre Page Le patrimoine religieux #}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page-patrimoine-religieux">Découvrir Rouvroy</h2>
        <h3 class="sous-titre-page">Le patrimoine local / Le patrimoine religieux</h3>
    </div> 
</section> 
{# Fin Bloc titre Page Le patrimoine religieux #} 

{# Bloc section articles Page Le patrimoine religieux #}
<section class="patrimoine-religieux">
    <h2>Le patrimoine religieux</h2> 

    
    {% for PatrimoineReligieux in PatrimoineReligieux | sort((a, b) => a.id <=> b.id)%}
    <div class="article-patrimoine-religieux">
        <div class="image-patrimoine-religieux">
            <img src="uploads/articles/{{PatrimoineReligieux.image}}" alt="{{ PatrimoineReligieux.titre }}" class="img-religieux">
        </div>
        <div class="texte-patrimoine-religieux">
            <h3>{{ PatrimoineReligieux.titre }}</h3>
            <p>{{ PatrimoineReligieux.contenu | raw }}</p>
        </div>
    </div>
    {% endfor %}
    
</section> 
{# Fin Bloc section articles Page Le patrimoine religieux #}

{# Bloc lien retour vers la Page Patrimoine Local #}
<div class="retour-religieux-vers-local">
    <a href="/patrimoine-local"><i class="fa-sharp fa-solid fa-arrow-left"></i>Patrimoine Local</a>
</div>
{# Bloc lien retour vers la Page Patrimoine Local #}
{% endblock %}

