{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Le patrimoine disparus{% endblock %}

{% block body %}
{# Bloc titre Page Le patrimoine disparus #}
<section>
    <div class="section-titre-page">
        <h2 class="titre-page">Découvrir Rouvroy</h2>
        <h3 class="sous-titre-page">Le patrimoine local / Le patrimoine disparu</h3>
    </div> 
</section> 
{# Fin Bloc titre Page Le patrimoine disparus #} 

{# Bloc section articles Page Le patrimoine disparus #}
<section class="patrimoine-disparus">
    <h2>Le patrimoine disparu</h2> 

    
    {% for PatrimoineDisparus in PatrimoineDisparus | sort((a, b) => a.id <=> b.id)%}
    <div class="article-patrimoine-disparus">
        <div class="image-patrimoine-disparus">
            <img src="uploads/articles/{{PatrimoineDisparus.image}}" alt="{{ PatrimoineDisparus.titre }}" class="img-disparus">
        </div>
        <div class="texte-patrimoine-disparus">
            <h3>{{ PatrimoineDisparus.titre }}</h3>
            <p>{{ PatrimoineDisparus.contenu | raw }}</p>
        </div>
    </div>
    {% endfor %}
    
</section>
{# Fin Bloc section articles Page Le patrimoine disparus #}

{# Bloc lien retour vers la Page Patrimoine Local #}
<div class="retour-disparus-vers-local">
    <a href="/patrimoine-local"><i class="fa-sharp fa-solid fa-arrow-left"></i>Patrimoine Local</a>
</div>
{# Bloc lien retour vers la Page Patrimoine Local #}
{% endblock %}
