{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Le patrimoine local{% endblock %}

{% block body %}
    {# Bloc titre Page Le patrimoine local #}
    <section>
        <div class="section-titre-page">
            <h2 class="titre-page">Le patrimoine local</h2>
        </div> 
    </section>  
    {# Fin Bloc titre Page Le patrimoine local #}

    {# Bloc section présentation Page Le patrimoine local #}
    <section class="presentation-patrimoine-local">
        <p>Présentation de la section patrimoine local</p>
    </section>
    {# Fin Bloc section présentation Page Le patrimoine local #}

    {# Bloc section images + titres catégories Page Le patrimoine local #}
    <section class="liens-patrimoine-local">
        <div class="card-patrimoine-local reveal">
            <div class="card-body-patrimoine-civil">
                <h3>Le patrimoine civil</h3>
                <a href="/patrimoine-civil" class="card-title-patrimoine-local">Découvrir</a>
            </div>
            <img src="images/Photo-DANNE-Valentin-Patrimoine-civil.jpg" alt="">
        </div>

        <div class="card-patrimoine-local reveal-2">
            <img src="images/Photo-DANNE-Valentin-Patrimoine-religieux.jpg" alt="">
            <div class="card-body-patrimoine-religieux">
                <h3>Le patrimoine religieux</h3>
                <a href="/patrimoine-religieux" class="card-title-patrimoine-local">Découvrir</a>
            </div>
        </div>

        <div class="card-patrimoine-local reveal">
            <div class="card-body-patrimoine-monuments">
                <h3>Les monuments</h3>
                <a href="/patrimoine-monuments" class="card-title-patrimoine-local">Découvrir</a>
            </div>
            <img src="images/Photo-DANNE-Valentin-Monument-aux-morts.jpg" alt="">
        </div>

        <div class="card-patrimoine-local reveal-2">
            <img src="images/Photo-DANNE-Valentin-Patrimoine-disparu.jpg" alt="">
            <div class="card-body-patrimoine-disparus">
                <h3>Le patrimoine disparus</h3>
                <a href="/patrimoine-disparus" class="card-title-patrimoine-local">Découvrir</a>
            </div>
        </div>
    </section>
    {# Fin Bloc section images + titres catégories Page Le patrimoine local #}
{% endblock %}
