{% extends 'base.html.twig' %}

{% block title %}Rourvroy d'hier et d'aujourd'hui | Le patrimoine local{% endblock %}

{% block body %}
    {# Bloc titre Page Le patrimoine local #}
    <section>
        <div class="section-titre-page">
            <h2 class="titre-page-patrimoine-local">Le patrimoine local</h2>
        </div> 
    </section>  
    {# Fin Bloc titre Page Le patrimoine local #}

    {# Bloc section présentation Page Le patrimoine local #}
    <section class="presentation-patrimoine-local">
        <p><span class="tabulation">À</span> travers l'étendue de Rouvroy, une commune imprégnée d'une histoire riche, se déploie un héritage varié qui témoigne de son passé et de son évolution à travers les époques. Parmi ses trésors les plus précieux, on trouve les monuments commémoratifs élevés en hommage aux héros locaux tombés lors des conflits marquants. Les édifices civils tels que la mairie, les églises, les écoles, les cimetières, en grande partie, reflètent les besoins changeants d'une population en constante évolution. Mais au-delà de ces vestiges, le patrimoine de Rouvroy porte aussi les marques de son passé révolu à travers des sites comme l'ancienne briqueterie Leclercq, le château de Bétricourt et d'anciennes structures industrielles minières, témoins de l'activité économique florissante qui caractérisait autrefois la région. Ce patrimoine, façonné par les épreuves de la Première Guerre mondiale et l'arrivée constante de travailleurs miniers, incarne la mémoire vivante d'une communauté façonnée par les vicissitudes de l'histoire et de leur labeur.</p>
    </section>
    {# Fin Bloc section présentation Page Le patrimoine local #}

    {# Bloc section images + titres catégories Page Le patrimoine local #}
    <section class="liens-patrimoine-local">
        <div class="card-patrimoine-local reveal">
            <div class="card-body-patrimoine-civil">
                <h3>Le patrimoine civil</h3>
                <a href="/patrimoine-civil" class="card-title-patrimoine-local">Découvrir</a>
            </div>
            <img src="images/Photo-DANNE-Valentin-Patrimoine-civil.jpg" alt="Le patrimoine civil">
        </div>

        <div class="card-patrimoine-local reveal-2">
            <img src="images/Photo-DANNE-Valentin-Patrimoine-religieux.jpg" alt="Le patrimoine religieux">
            <div class="card-body-patrimoine-religieux">
                <h3>Le patrimoine religieux</h3>
                <a href="/patrimoine-religieux" class="card-title-patrimoine-local">Découvrir</a>
            </div>
        </div>

        <div class="card-patrimoine-local reveal">
            <div class="card-body-patrimoine-monuments">
                <h3>Les monuments</h3>
                <a href="/patrimoine-monuments" class="card-title-patrimoine-local">Découvrir</a>
            </div>
            <img src="images/Photo-DANNE-Valentin-Monument-aux-morts.jpg" alt="Les monuments">
        </div>

        <div class="card-patrimoine-local reveal-2">
            <img src="images/Photo-DANNE-Valentin-Patrimoine-disparu.jpg" alt="Le patrimoine disparus">
            <div class="card-body-patrimoine-disparus">
                <h3>Le patrimoine disparu</h3>
                <a href="/patrimoine-disparus" class="card-title-patrimoine-local">Découvrir</a>
            </div>
        </div>
    </section>
    {# Fin Bloc section images + titres catégories Page Le patrimoine local #}
{% endblock %}
